@font-face {
  font-family: "Source-Sans-Pro-Light";
  src: url("../fonts/source_sans_pro/SourceSansPro-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd-BookItalic";
  src: url("../fonts/CircularStd/CircularStd-BookItalic.otf");
}

@font-face {
  font-family: "Noto-Sans";
  src: url("../fonts/noto_sans/NotoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto-Sans-Bold";
  src: url("../fonts/noto_sans/NotoSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
