// Colors

//background
$background: rgb(255, 252, 246);

//
$nav-bg: rgb(156, 145, 128);
$nav-bg-hover: rgb(126, 115, 98);

$section-title-bg: rgb(153, 133, 105);
$section-bg: rgb(233, 233, 232);
$section-border: rgb(191, 192, 191);

$section-font: rgb(77, 77, 77);

// background: rgb(255, 25)

// Breakpoints

$bp-desktop: 1200px;
$bp-tablet: 770px;
$bp-phone: 500px;
$bp-xs: 415px;

//
//
//
//

// Breakpoints

$screen-xs-max: 500px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

$link-decoration: none;
$link-hover-decoration: none;

$list-style: none;
